.env
.venv/
Thumbs.db
.DS_Store
Mobile/.npm-cache/
Mobile/dist/
Mobile/node_modules/
Backend/beepos.exe
Backend/__pycache__/
Database/*.db*
Database/*.log
Database/operations.txt
Database/__pycache__/