.env
.venv/
Thumbs.db
.DS_Store
Mobile/.npm-cache/
Mobile/dist/
Mobile/Mobile/
Mobile/node_modules/
Mobile/build/
Mobile/coverage/
Mobile/*.log
Mobile/.env*
Mobile/.env.example
Mobile/
Backend/beepos.exe
Backend/__pycache__/
Database/*.db*
Database/*.log
Database/operations.txt
Database/__pycache__/